<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco outil</title>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script> <!-- exportation excel-->
    <script src="/js/script.js"></script>
    <script src="/js/others.js"></script>
    <script src="/js/calls.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="" />
</head>
<body onload="begin()">
<header>
   <div>
        <h1>
            Test if your website is green !
        </h1>
   </div>
</header>