<%- include('headers.ejs') %>
<main>
<section>
    <article>
        <div id="checkbox_area">
        </div>
        <div class="center">
            <textarea  id="url-enter" rows="2" cols="50" placeholder="Entrer un seul url pour un scan unique ou plusieurs pour comparer"></textarea>
            <div>
                <button id="submit" onclick="exec()"> Scan </button>
            </div>
            <div id="choice">
                <label> Is it green ?</label>
                <input disabled="true" type="search" id="anaylse_url" placeholder="Entrer d'abord une liste d'url à analyser" size="60">*
                <button id="submit2" disabled="true"> Submit </button>
            </div>
        </div>
       
        <hr>
        </div>
    </article>
</section>
    
</main>

<footer>
    <%- include('footer') %>
</footer>
</footer>

</body>
</html>