<%- include('headers.ejs') %>
<main>
<section>
    <article>
        <div id="result">
    </article>
</section>
    
</main>

<footer>
    <%- include('footer') %>
</footer>
</footer>

</body>
</html>