<%- include('partials/headers.ejs') %>
<main>
<section>
    <article>
        <div id="choice">
            <label> Is it green ?</label>
            <from onsubmit="return formvalidation()">
                <input id="url_toAnalyse" type="input" placeholder="Entrer ici l'url à analyser" size="60">
                <button id="submit2" onclick="analyse()"> Submit </button>
            </from>
            
        </div>
        <div id="loading"></div>
        <a href="/" > Revenir en arrière </a>
    </article>
</section>
    
</main>

<footer>
    <%- include('partials/footer') %>
</footer>
</footer>

<script>
    var input = document.getElementById("url_toAnalyse");

    input.addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
        document.getElementById("submit2").click();
    }
    });
</script>

</body>
</html>