<%- include('partials/headers.ejs') %>
<main>
<section>
    <article>
        <div id="choice">
            <label> Is it green ?</label>
            <input type="search" id="anaylse_url" placeholder="Entrer d'abord une liste d'url à analyser" size="60">
            <button id="submit2"> Submit </button>
        </div>
        <a href="/">Go back</a>
    </article>
</section>
    
</main>

<footer>
    <%- include('partials/footer') %>
</footer>
</footer>

</body>
</html>