<%- include('partials/headers.ejs') %>
<main>
<section>
    <article>
       <h3> Modifier </h3>
    

        <canvas id="root"></canvas>

        <div id="f1">
            <label>Figure f 1 : </label>
            <select id="fig_1">
                <option value="triangle">Triangle</option>
                <option value="trapezoid">Trapezoid</option>
            </select>
    
            </label>
            <label>x0 : 
                <input type="input" id="x0_id1" value=''>
            </label>
            <label>x1 : 
                <input type="input" id="x1_id1" value=''>
            </label>
            <label>x2 : 
                <input type="input" id="x2_id1" value=''>
            </label>
            <label>x3 : 
                <input type="input" id="x3_id1" value=''>
            </label>
        </div>
        
        <div id="f2">
            <label>Figure f 2 : </label>
            <select id="fig_2">
                <option value="triangle">Triangle</option>
                <option value="trapezoid">Trapezoid</option>
            </select>
    
            </label>
            <label>x0 : 
                <input type="input" id="x0_id2" value=''>
            </label>
            <label>x1 : 
                <input type="input" id="x1_id2" value=''>
            </label>
            <label>x2 : 
                <input type="input" id="x2_id2" value=''>
            </label>
            <label>x3 : 
                <input type="input" id="x3_id2" value=''>
            </label>
        </div>
        
        <div id="f3">
            <label>Figure f 3 : </label>
            <select id="fig_3">
                <option value="triangle">Triangle</option>
                <option value="trapezoid">Trapezoid</option>
            </select>
    
            </label>
            <label>x0 : 
                <input type="input" id="x0_id3" value=''>
            </label>
            <label>x1 : 
                <input type="input" id="x1_id3" value=''>
            </label>
            <label>x2 : 
                <input type="input" id="x2_id3" value=''>
            </label>
            <label>x3 : 
                <input type="input" id="x3_id3" value=''>
            </label>
        </div>
        
        <div>
            <button onclick="draw()">Draw</button>
        </div>

        


    </article>

    <div>
        <button onclick="confirm()">Confirm</button>
    </div>
    

    <a href="/result" > Revenir en arrière </a>
</section>
    
</main>

<footer>
    <%- include('partials/footer') %>
</footer>

<script type="text/javascript">
    window.onload = function() {
        init_fuzzy();
    };

    window.setInterval(function(){
        draw();
    }, 1500);

    function draw(){
        let left = document.getElementById("root")
        let ctx = left.getContext("2d");
        ctx.fillStyle = "red";
        ctx.lineWidth = 4;

        let x0 =fuzzyData['PageSize(Ko)'].membership_function[membership[0]][`x${0}`]
        let x1 =fuzzyData['PageSize(Ko)'].membership_function[membership[0]][`x${1}`]
        let x2 =fuzzyData['PageSize(Ko)'].membership_function[membership[0]][`x${2}`]

        triangle(ctx,x0,x1,x2)
    }
    
    function triangle(ctx,x0,x1,x2){
        ctx.beginPath();
        ctx.moveTo(0, 400);
        ctx.lineTo(x2, 0);
        ctx.lineTo(0, 100);
        ctx.lineTo(0, 0);
        ctx.closePath();
        ctx.fill();
        ctx.stroke();
    }
        
</script>


</body>
</html>