<%- include('partials/headers.ejs') %>
<main>
<section>
    <article>
        <div id="checkbox_area">
        </div>
        <div class="center">
            <textarea  id="url-enter" rows="2" cols="50" placeholder="Entrer une liste d'url"></textarea>
        </div>
       
        <div>
            <div id="loading"></div>
            <div id="message"></div>
        </div>
        
        <div>
            <button id="submit" onclick="compute()"> Launch analyse </button>
        </div>

        </div>
    </article>
</section>
    
</main>

<footer>
    <%- include('partials/footer') %>
</footer>
<script>
    window.onload = function() {
        begin(); 
    };
</script>

</body>
</html>