<%- include('partials/headers.ejs') %>
<main>
<section>
    <article>
        <div id="checkbox_area">
        </div>
        <div class="center">
            <textarea  id="url-enter" rows="2" cols="50" placeholder="Entrer un seul url pour un scan unique ou plusieurs pour comparer"></textarea>
            <div>
                <button id="submit" onclick="exec()"> Scan </button>
            </div>
        </div>
       
        <hr>
        </div>
    </article>
</section>
    
</main>

<footer>
    <%- include('partials/footer') %>
</footer>
</footer>

</body>
</html>