<%- include('partials/headers.ejs') %>
<main>
<section>
    <article>
        <div id="checkbox_area">
        </div>
        <div class="center">
            <textarea  id="url-enter" rows="2" cols="50" placeholder="Entrer une liste d'url"></textarea>
            <div>
                <button id="submit" onclick="compute()"> Scan </button>
            </div>
        </div>
        <div id="loading"></div>
        </div>
    </article>
</section>
    
</main>

<footer>
    <%- include('partials/footer') %>
</footer>
</footer>

</body>
</html>