<%- include('partials/headers.ejs') %>
<main>
<section>
    <article>
        <h2>RESULTAT : </h2>
        <button onclick="resultats()">Fetch</button>
        <div id="result">
        </div>
    </article>
</section>
    
</main>

<footer>
    <%- include('partials/footer') %>
</footer>
</footer>

</body>
</html>