<%- include('partials/headers.ejs') %>
<main>
<section>
    <article>
        <h2>RESULTS: </h2>
        
        <div id="result">
        </div>
        
        <div id="fuzzyData">
        </div>
    </article>
    <a href="/analyse" > Tester un autre URL </a>
</section>
    
</main>

<footer>
    <%- include('partials/footer') %>
</footer>

<script>
    window.onload = function() {
        resultats();
    };
    console.log("Fuzzy data : ", JSON.parse(sessionStorage.getItem('fuzzyData')));
</script>

</body>
</html>