<%- include('partials/headers.ejs') %>
<main>
<section>
    <article>
        <h2>RESULTS: </h2>
        <button id="fetch_result" onclick="resultats()">Afficher</button>
        
        <div id="result">
        </div>
        
        <div id="fuzzyData">
        </div>
    </article>
    <a href="/analyse" > Tester un autre URL </a>
</section>
    
</main>

<footer>
    <%- include('partials/footer') %>
</footer>

</body>
</html>