body{
    background-color: rgb(163, 227, 180);
}
.center{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#url-enter{
    height:200px;
    font-size:14pt;
}

#checkbox_area{
    position: fixed;
    writing-mode: horizontal-tb;
    max-block-size: auto;
    left: 90%;
    top:10%;
    transform: translate(-50%,-50%);
    background-color: green;
}